/* General Styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

header p {
    font-size: 16px;
    color: #555;
}

header a {
    text-decoration: none;
    color: #333;
}

header .logo{
    width: 160px;
    cursor: pointer;
    margin-top: -18%;
    margin-left:-79%;
}


/* Section Styles */
section {
    margin-bottom: 20px;
}

section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    font-size: 16px;
    margin: 5px 0;
}

/* Job Experience */
.job ul {
    padding-left: 20px;
}

.job li {
    font-size: 16px;
    margin: 5px 0;
}

/* Contact & Footer Styles */
footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #777;
}
